#text-editor-main-header {
  margin-top: 10px;
  padding-bottom: 4px;
  position: absolute;
}

#text-editor-content {
  margin-top: -14px;
  width: 640px;
  height: 420px;
  position: absolute;
  background-color: #E6E2E6;
  color: white;
}

#text-editor-editor {
  margin-left: 54px;
  margin-top: 53px;
  width: 530px;
  height: 330px;
  position: absolute;
  background-color: white;
}

#text-editor-area {
  color: #0000FF;
  font-size: 23px;
  height: 100%;
  width: 100%;
  font-weight: 700;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  border: none;
  word-spacing: 0.01em;
  line-height: 25px;
  overflow:hidden;
  outline: none;
}